{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Сведения о пользователе</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ include('users/form/form.user.html.twig', {'form': form,
                        'action': path('client_admin.user.update', {'username': object.username})}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}