{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Список звонков на сегодня
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('shared/event.today.html.twig', {'objects': objects,
                    'activatePathName': 'client_call.status.active',
                    'deleteRoute': "client_call.delete"}) }}
            </div>
        </div>
    </div>
{% endblock %}

