{% extends 'base.html.twig' %}

{% block js_head %}
    {{ parent() }}
    <script src="http://code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="http://code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
{% endblock %}