{{ form_start(filter, {'method': 'GET'}) }}
<div class="form-group form-group-sm">
    <label>Дата:</label>
    {{ form_widget(filter.date) }}
</div>
<div class="form-group form-group-sm">
    <label>Статус:</label>
    {{ form_widget(filter.status) }}
</div>
<p>
    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Поиск" />
</p>

{{ form_end(filter) }}

<script type="text/javascript">
    $(function () {
        $('#cal_left_date').datetimepicker();
        $('#cal_right_date').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#cal_left_date").on("dp.change", function (e) {
            $('#cal_right_date').data("DateTimePicker").minDate(e.date);
        });
        $("#cal_right_date").on("dp.change", function (e) {
            $('#cal_left_date').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>