{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-md-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Список встречь с клиентом</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('shared/event.list.html.twig', {'objects': objects}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Поиск</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ include ('shared/filters/event.filter.html.twig', {'filter': filterForm}) }}
            </div>
        </div>
    </div>
{% endblock %}

